/***************************************
Guillermo Pulido Fernández - UO282716
Descripción de los estilos
***************************************/
/*Especificidad: 001*/
body{
    align-items: center;
    margin-right: 40em;
    margin-left: 30em;
    margin-top: 5em;
}

/*Especificidad: 001*/
form{
    background-color: #e1a2df;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1.5em;
    padding: 1em;
    width: 27em;
    height: 30em;
    font-size: 1.5em;
}

/*Especificidad: 011*/
input[type = "button"]{
    background-color: #2baac8;
    color: #050404;  
    font-size: 1.5em; 
}

/*Especificidad: 011*/
input[type=text] {
    grid-column: span 5;
    margin-bottom: 0.8em;
    font-size: 1.5em;
}

/*Especificidad: 001*/
label{
    grid-column: span 5;
    font-size: 1.5em;
}