/***************************************
Guillermo Pulido Fernández - UO282716
Descripción de los estilos
***************************************/
/*Especificidad: 001*/
body{
    background-color: #FCF8F3;
    color: #363333;
    font-family: Arial, Helvetica, sans-serif;
}

/*Especificidad: 001*/
main{
    background-color: #C1EFFF;
    grid-area: main;
    margin-bottom: 0.5vw;
    margin-top: 0.5vw;
    margin-right: 1vw;
    margin-left: 1vw;
    padding: 1vw;
}

/*Especificidad: 001*/
header{
    font-size: 2em;
    font-weight: bold;
    color: #000000;
    background-color: #C1EFFF;
    text-align: center;
    grid-area: header;
    margin-bottom: 0.5vw;
    margin-top: 2vw;
    margin-right: 1vw;
    margin-left: 1vw;
}

/*Especificidad: 001*/
h2{
    font-size: 1.75em;
    font-weight: bold;
    color: #000000;
}

/*Especificidad: 002*/
a:link{
    color: #0000ff;
}

/*Especificidad: 002*/
a:visited{
    color: #850A85;
}