/***************************************
Guillermo Pulido Fernández - UO282716
Descripción de los estilos
***************************************/
/*Especificidad: 001*/
body{
    background-color: #FCF8F3;
    
}

/*Especificidad: 001*/
header{
    font-family: Helvetica;
    font-size: 3em;
    font-weight: bold;
    color: #000000;
    background-color: #C1EFFF;
    text-align: center;
    grid-area: header;
    margin-bottom: 0.5vw;
    margin-top: 2vw;
    margin-right: 1vw;
    margin-left: 1vw;
}

aside{
    background-color: #FFE9AE;
    margin-bottom: 0.5vw;
    margin-top: 0.5vw;
    margin-right: 1vw;
    margin-left: 1vw;
}

footer{
    grid-area: footer;
    background-color: #FFDBA4;
    border-top-style: double;
    border-top-width: 0.5em;
    margin-bottom: 0.5vw;
    margin-top: 0.5vw;
    margin-right: 1vw;
    margin-left: 1vw;
    padding: 1vw;
}

/*Especificidad: 001*/
h2{
    font-family: Helvetica;
    font-size: 2em;
    font-weight: bold;
    color: #000000;
}

/*Especificidad: 002*/
aside > h2{ 
    font-size: 1.5em;
    font-weight: normal;
    grid-area: aside;
}

/*Especificidad: 001*/
main{
    color: #363333;
    background-color: #C1EFFF;
    grid-area: main;
    margin-bottom: 0.5vw;
    margin-top: 0.5vw;
    margin-right: 1vw;
    margin-left: 1vw;
    padding: 1vw;
    
}

/*Especificidad: 001*/
nav > a {
    background-color: #C1EFFF;
    text-align: center;
    grid-area: nav;
    font-size: 0.5em;
}

/*Especificidad: 001*/
ul{
    list-style-type: square;
}

/*Especificidad: 002*/
li::marker{
    color: #ffffff;
}

/*Especificidad: 002*/
li > ul{
    list-style-type: disc;
}

caption{
    font-style: italic;
    font-weight: bold;
}

/*Especificidad: 001*/
table{
    color: #000000;
    border-collapse: collapse;
    border-color: #000000;
    border-style: solid;
    border-width: 0.15em;
    table-layout: fixed;
}

/*Especificidad: 012*/
tr:nth-child(odd){
    background-color: #FFDBA4;
}
  
/*Especificidad: 012*/
tr:nth-child(even){
    background-color: #FFB3B3;
}

tr:nth-child(1){
    background-color: #44EBB5;
}

/*Especificidad: 001*/
td{
    border-color: #000000;
    border-style: solid;
    border-width: 0.15em;
}

th{
    border-color: #000000;
    border-style: solid;
    border-width: 0.15em;
}

/*Especificidad: 002*/
a:link{
    color: #e715e7;
}

/*Especificidad: 002*/
a:visited{
    color: #0000ff;
}

header img {
    max-width: 20%;
    max-height: 20%;
}
/*
video{
    width: 100%;
    max-width: 75%;
    height: auto;
}
